@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&family=Montserrat:ital,wght@0,100;0,500;0,700;1,100;1,500;1,800&family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@500&family=Rubik:wght@300;400;500;700&family=Ysabeau+SC:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #141619;
  z-index:1;
}

/* header */

.header {
  background-color: #141619;
  display: flex;
  justify-content: space-between;
  padding:0 2%;
  position: fixed;
  top:0;
  width:96%;
  height:11%;
  box-shadow: 2px 1px 2px rgb(50, 50, 50);
  z-index:2;
}

.logo img{
    height:100%;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: end;
}

.navbar li {
    color: white;
    list-style: none;
    font-size: 1.1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 3%;
    cursor: pointer;
    transition: font-size 0.3s ease-in;
  }

.navbar li:hover{
    font-size: 1.2rem;
}

a {
    text-decoration: none;
  }
  
/* logosection */

.osdclogo{
    width:50%;
    margin:8% auto 0;
    position: relative;
}

.osdclogo img{
   margin-top:-10%;
   width:100%;
}

.society{
    color:white;
    font-size:1.3rem;
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
}

.joindiscord{
    text-align: center;
}

.invitition{
    color:white;
    letter-spacing: 1px;
    margin-bottom:2%;
    font-size: 1.5rem;
}

.button{
    width:100%;
}

.discordbutton{
    background-color: #665DCD;
    width:fit-content;
    color:white;
    padding: 0.5% 5%;
    border-radius: 150px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
}

.discordbutton:hover{
    transform: scale(1.1);
}

/* about section */

.about{
    width:75%;
    color:white;
    text-align: center;
    position: relative;
    margin: 20% auto;
    background:transparent;
}

.about .div1{
    font-size: 2.2rem;
    margin-bottom: 3%;
    background: transparent;
}

.about .div2{
    margin-bottom:2%;
    background: transparent;
}

.about .div3{
    background: transparent;
}

/* socials */

.socials {
    color: white;
    text-align: center;
    position: relative;
    background: transparent;
}

.socials p{
    font-size: 2rem;
    margin-bottom:3%;
    background: transparent;
}

.socialicons{
    background: transparent;
}

.socialicons img{
    width:4%;
    margin-right:4%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.socialicons img:hover{
    transform: scale(1.2);
}

/* newsletter section  */

.emailinput label{
    background-color:#665DCD;
    color:white;
    font-size: 1.1rem;
    padding:0.5% 0.8%;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    cursor: pointer;
}

.emailinput , .bg , .subscribe-message{
    background: transparent;
}

.subscribe{
    text-align: center;
    color:white;
    margin-top:8%;
    margin-bottom:10%;
    position: relative;
    font-size:1.7rem;
    background:transparent;
}

.subscribe .email{
    outline: 0;
    color:black;
    border:0;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    font-size: 1.1rem;
    padding:0.5% 1%;
    margin-top:2%;
    background-color: white;
    width:30%;
}

/* blobs css */

.left-blob img {
  position: absolute;
  left:0;
  top: 10%;
  z-index: 0;
  width:60%;
}

.right-upper-blob img{
    position: absolute;
    right:0%;
    top: 10%;
    z-index:0;
    width:30%;
}

.right-lower-blob img{
    position: absolute;
    right:0%;
    top: 120%;
    z-index:0;
    width:30%;
}

.bottom-left-blob img{
    position: absolute;
    left:0%;
    top: 180%;
    z-index:0;
    width:60%;
}
.bottom-right-blob img{
    position: absolute;
    right:0%;
    top: 180%;
    z-index:0;
    width:50%;
}

/* media queries for mobile devices */

@media only screen and (max-width:820px){
    .osdclogo img{
        margin-top:-5%;
     }

     .society{
        font-size:1.1rem;
        top:50%;
        width:100%;
    }
    
    .invitition{
        font-size: 1.3rem;
    }
    
    .discordbutton{
        font-size: 1.2rem;
    }
    
    .discordbutton:hover{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:680px){

    .osdclogo{
        margin:14% auto 0;
    }

    .invitition{
        margin-top:15%;
        margin-bottom:3%;
    }

    .society{
        top:42%;
    }
}

@media only screen and (max-width:520px){

    .invitition{
        margin-top:20%;
        margin-bottom:3%;
    }

    .society{
        top:35%;
    }

    .navbar li{
        font-size: 1rem;
    }
}
